// Vendor
@import "../vendor/scss/bootstrap";

// Base
@import "./base/mixins";
@import "./base/variables";
@import "./base/type";
@import "./base/root";
@import "./base/modifiers";
@import "./base/animate";

// Components
@import "./components/header";
@import "./components/tag";
@import "./components/buttons";
@import "./components/accordion";
@import "./components/brand-card";
@import "./components/tab-selector";
@import "./components/price-card";
@import "./components/footer";
@import "./components/marquee-brands";

//Layouts


