.button{
    &-lg{
        padding: 10px 20px;
        @include media-breakpoint-up(md){
            padding: 15px 30px;
        }
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover{
            background-color: map-get($colors, white);
            color: map-get($colors, blue);
        }
    }

    &-sm{
        padding: 8px 10px;
        @include media-breakpoint-up(md){
            padding: 10px 12px;
        }
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover{
            background-color: map-get($colors, white);
            color: map-get($colors, blue);
        }

        &.bg-gradient-blue:hover, &.button-accent:hover{
            color: map-get($colors, black);
        }       
    }
}

