.logo-img{
    height: 67px;
}

.navbar-nav, footer .footer-links{
    a{
        color: map-get($colors, white);
        opacity: 50%;

        &:hover{
        color: map-get($colors, white);
        opacity: 100%;
        }

        transition: opacity 0.3s ease;  
    }
}
.headroom--pinned{
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.headroom--unpinned{
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}