.price-card{
    &.active{
        padding: 50px;
    }

    .button-accent{
        background: linear-gradient(
            90deg,
            #5B97F3 0%,
            #3E8CF3 100%
        );
        box-shadow: inset 0 -2px 2px rgba(255, 255, 255, 0.25);

    }
}