@mixin create-font-face($family, $path, $weight) {
    @font-face {
        font-family: $family;
        src: url('#{$path}.woff2') format('woff2'),
             url('#{$path}.woff') format('woff');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@mixin generate-font-styles($sizes, $weights, $family) {
    @each $size-name, $breakpoints in $sizes {
        @each $weight-name, $weight-value in $weights {
            .#{$size-name}-#{$weight-name} {
                font-family: $family;
                font-weight: $weight-value;

                $sm-props: map-get($breakpoints, sm);
                font-size: map-get($sm-props, size);
                letter-spacing: map-get($sm-props, letter-spacing);

                @include media-breakpoint-up(md) {
                    $md-props: map-get($breakpoints, md);
                    font-size: map-get($md-props, size);
                    letter-spacing: map-get($md-props, letter-spacing);
                }

                @include media-breakpoint-up(lg) {
                    $base-props: map-get($breakpoints, base);
                    font-size: map-get($base-props, size);
                    letter-spacing: map-get($base-props, letter-spacing);
                }
            }
        }
    }
}

@mixin generate-color-classes($color-map) {
    @each $name, $color in $color-map {
        .c-#{$name} {
            color: $color;
        }
        .bg-#{$name} {
            background-color: $color;
        }
        .border-#{$name} {
            border: $color 1px solid;
        }
    }
}

@mixin generate-border-radius-utilities($radius-map) {
    @each $name, $radius in $radius-map {
        .#{$name} {
            border-radius: $radius;
        }
    }
}