html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: map-get($colors, white);
    background-color: map-get($colors, dark);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: none;
}